@{
    ViewData["Title"] = "Şifre Yenileme";
}
@model ResetPasswordViewModel
<div class="row">

    <div class="col-md-6 offset-md-2">

        <h3>Şifre Sıfırlama Formu</h3>
        <hr />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert"> @TempData["SuccessMessage"]</div>
        }

        <div class="alert alert-danger" asp-validation-summary="ModelOnly" role="alert"></div>
        <form asp-controller="Home" asp-action="ResetPassword" method="post">
          
            <div class="mb-3">
                <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PasswordConfirm" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="PasswordConfirm" type="password" class="form-control">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">

                    <button type="submit" class="btn btn-primary">Şifre Yenileme</button>

                </div>
            </div>

        </form>
    </div>

</div>

